rakuten_ws/wsdl/orderapi.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Oracle JAX-WS 2.1.3-07/10/2008 08:41 PM(bt). --><definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://orderapi.rms.rakuten.co.jp/rms/mall/order/api/ws" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://orderapi.rms.rakuten.co.jp/rms/mall/order/api/ws" name="OrderApiService">
<types>
<xsd:schema>
<xsd:import namespace="http://orderapi.rms.rakuten.co.jp/rms/mall/order/api/ws" schemaLocation="https://api.rms.rakuten.co.jp/es/1.0/order/ws?xsd=1" />
</xsd:schema>
</types>
<message name="getRequestId">
<part name="parameters" element="tns:getRequestId" />
</message>
<message name="getRequestIdResponse">
<part name="parameters" element="tns:getRequestIdResponse" />
</message>
<message name="getResult">
<part name="parameters" element="tns:getResult" />
</message>
<message name="getResultResponse">
<part name="parameters" element="tns:getResultResponse" />
</message>
<message name="getOrder">
<part name="parameters" element="tns:getOrder" />
</message>
<message name="getOrderResponse">
<part name="parameters" element="tns:getOrderResponse" />
</message>
<message name="getEnclosureList">
<part name="parameters" element="tns:getEnclosureList" />
</message>
<message name="getEnclosureListResponse">
<part name="parameters" element="tns:getEnclosureListResponse" />
</message>
<message name="updateOrder">
<part name="parameters" element="tns:updateOrder" />
</message>
<message name="updateOrderResponse">
<part name="parameters" element="tns:updateOrderResponse" />
</message>
<message name="cancelOrder">
<part name="parameters" element="tns:cancelOrder" />
</message>
<message name="cancelOrderResponse">
<part name="parameters" element="tns:cancelOrderResponse" />
</message>
<message name="doEnclosure">
<part name="parameters" element="tns:doEnclosure" />
</message>
<message name="doEnclosureResponse">
<part name="parameters" element="tns:doEnclosureResponse" />
</message>
<message name="doUnEnclosure">
<part name="parameters" element="tns:doUnEnclosure" />
</message>
<message name="doUnEnclosureResponse">
<part name="parameters" element="tns:doUnEnclosureResponse" />
</message>
<message name="changeEnclosureParent">
<part name="parameters" element="tns:changeEnclosureParent" />
</message>
<message name="changeEnclosureParentResponse">
<part name="parameters" element="tns:changeEnclosureParentResponse" />
</message>
<message name="changeStatus">
<part name="parameters" element="tns:changeStatus" />
</message>
<message name="changeStatusResponse">
<part name="parameters" element="tns:changeStatusResponse" />
</message>
<message name="decisionPoint">
<part name="parameters" element="tns:decisionPoint" />
</message>
<message name="decisionPointResponse">
<part name="parameters" element="tns:decisionPointResponse" />
</message>
<message name="rBankAccountTransfer">
<part name="parameters" element="tns:rBankAccountTransfer" />
</message>
<message name="rBankAccountTransferResponse">
<part name="parameters" element="tns:rBankAccountTransferResponse" />
</message>
<message name="changeRBankToUnprocessing">
<part name="parameters" element="tns:changeRBankToUnprocessing" />
</message>
<message name="changeRBankToUnprocessingResponse">
<part name="parameters" element="tns:changeRBankToUnprocessingResponse" />
</message>
<portType name="OrderApiService">
<operation name="getRequestId">
<input message="tns:getRequestId" />
<output message="tns:getRequestIdResponse" />
</operation>
<operation name="getResult">
<input message="tns:getResult" />
<output message="tns:getResultResponse" />
</operation>
<operation name="getOrder">
<input message="tns:getOrder" />
<output message="tns:getOrderResponse" />
</operation>
<operation name="getEnclosureList">
<input message="tns:getEnclosureList" />
<output message="tns:getEnclosureListResponse" />
</operation>
<operation name="updateOrder">
<input message="tns:updateOrder" />
<output message="tns:updateOrderResponse" />
</operation>
<operation name="cancelOrder">
<input message="tns:cancelOrder" />
<output message="tns:cancelOrderResponse" />
</operation>
<operation name="doEnclosure">
<input message="tns:doEnclosure" />
<output message="tns:doEnclosureResponse" />
</operation>
<operation name="doUnEnclosure">
<input message="tns:doUnEnclosure" />
<output message="tns:doUnEnclosureResponse" />
</operation>
<operation name="changeEnclosureParent">
<input message="tns:changeEnclosureParent" />
<output message="tns:changeEnclosureParentResponse" />
</operation>
<operation name="changeStatus">
<input message="tns:changeStatus" />
<output message="tns:changeStatusResponse" />
</operation>
<operation name="decisionPoint">
<input message="tns:decisionPoint" />
<output message="tns:decisionPointResponse" />
</operation>
<operation name="rBankAccountTransfer">
<input message="tns:rBankAccountTransfer" />
<output message="tns:rBankAccountTransferResponse" />
</operation>
<operation name="changeRBankToUnprocessing">
<input message="tns:changeRBankToUnprocessing" />
<output message="tns:changeRBankToUnprocessingResponse" />
</operation>
</portType>
<binding name="OrderApiServicePortBinding" type="tns:OrderApiService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document" />
<operation name="getRequestId">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getResult">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getOrder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="getEnclosureList">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="updateOrder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="cancelOrder">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="doEnclosure">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="doUnEnclosure">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="changeEnclosureParent">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="changeStatus">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="decisionPoint">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="rBankAccountTransfer">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
<operation name="changeRBankToUnprocessing">
<soap:operation soapAction="" />
<input>
<soap:body use="literal" />
</input>
<output>
<soap:body use="literal" />
</output>
</operation>
</binding>
<service name="OrderApiService">
<port name="OrderApiServicePort" binding="tns:OrderApiServicePortBinding">
<soap:address location="https://api.rms.rakuten.co.jp/es/1.0/order/ws" />
</port>
</service>
</definitions>